&lt;h4 style=""&gt;Модули сканирования&lt;/h4&gt;
 &lt;div style="margin-top: 5%; margin-botton: 5%; text-align: left"&gt;
 &lt;div style=""&gt;Показать ещё
 &lt;img src="https://user-images.githubusercontent.com/10379601/29446482-04f7036a-841f-11e7-9872-91d1fc2ea683.png" style="margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 &lt;b&gt;Puppeteer&lt;/b&gt; — библиотека Node.js, позволяющая автоматизировать процессы в браузере Chromium посредством высокоуровневого API через Chrome DevTools Protocol.
 &lt;/div&gt;
 &lt;br&gt;
 &lt;h6&gt;&lt;b&gt;Источники:&lt;/b&gt;
 &lt;br&gt;
 &lt;div style="margin-left: 20px"&gt;
 &lt;table&gt;
 &lt;tbody&gt;
 &lt;tr id="r-1"&gt;
 &lt;td&gt;
 &lt;img src="https://sun6-23.userapi.com/s/v1/ig2/zpG2d7BUXlpxkXqhv7c96WdQHa8g6mYiGRYb7_ZtcA0FiTe_N3rajBQ13JIrWzHCglYe3H2fS64erWi1Wiz4j-aG.jpg?quality=95&crop=231,1,749,749&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720&ava=1&u=rT8PyUaHCJrs3GYDcfi6A331f9zpxpMWLopZ6dWX6a0&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Импульс
 &lt;/td&gt;
 &lt;td style="padding-left: 20px;"&gt;
 &lt;img src="https://sun6-23.userapi.com/s/v1/ig2/QUf7yRmOn8ABrwsVW-B051pOqWSkgnhqY1I5E8S3BjqrtrB27p9tH7RXe_i3AXrbCwTkmTev5JRpEutY_KIbcH05.jpg?quality=95&crop=0,0,1080,1080&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,1080x1080&ava=1&u=GXicQKyNU0ftgVFNbHx9pBQwyNlY2fUx-A_sdQukdLM&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Иннополис
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr id="r-2"&gt;
 &lt;td&gt;
 &lt;img src="https://sun6-23.userapi.com/s/v1/ig2/Z076ZfSkv3vGrJYFrAxo3kuPaKxbzRP5DcB1cZ0oqJ9U0IGFVr2QS2PWqIPpNnc-ILTIChmkrRAbG5u6wFqgVumG.jpg?quality=95&crop=0,0,800,800&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720&ava=1&u=_U2CLZmJTHN9F6VriXJ7dIzI7A0BOivloesWA7mHutM&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Олимпиада МГТУ
 &lt;/td&gt;
 &lt;td style="padding-left: 20px;"&gt;
 &lt;img src="https://sun6-20.userapi.com/s/v1/ig2/B_rNSTd4q_11Oedln7c-dU3qQjX5zXdRRMLXhORp-Wp0tfB4Nt6MQ9xN-2vDVvSpT7kpN3w1Ua_UprGYmgX5MRfP.jpg?quality=95&crop=672,102,1227,1227&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,1080x1080&ava=1&u=n8V1B8bcVP7bRtdDQ22LC430ZlRJ6n85IBuk9UO4qiU&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Олимпиада ВШЭ
 &lt;/td&gt;
 &lt;/tr&gt;
 
 &lt;tr id="r-3"&gt;
 &lt;td&gt;
 &lt;img src="https://sun6-22.userapi.com/s/v1/ig2/34coxBlhbKow_WNoJMzOuadoYYhxopkiCeEF-OtJnM4bSqu6FjP_BXtmkIUOT3sDazEpkJbQoykP9kS5tC2F8uUl.jpg?quality=95&crop=0,4,2026,2026&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,1080x1080,1280x1280,1440x1440&ava=1&u=RP0JIcYC3N36L56DY7yzzkVLLzJIwG8JsUe4wUo6TvU&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Олимпиада газпром
 &lt;/td&gt;
 &lt;td style="padding-left: 20px;"&gt;
 &lt;img src="https://sun6-20.userapi.com/s/v1/if2/7rCnllUWJbC0tvWpzwN7N1ls_uhfUM3W9zG4i1vZeT6ULCSVjILVnsK4-SPyrFf4UIPIkpwx3Ts717NRGM3IWjO9.jpg?quality=96&crop=83,0,547,547&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540&ava=1&u=9cv8LrejzvhAI4ThJR5x2ZtwkLq-suutUQuMivHcRJg&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Онлайн олимпиада ф.
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr id="r-3"&gt;
 &lt;td&gt;
 &lt;img src="https://sun6-20.userapi.com/s/v1/ig2/o5MBJC4S-h4MCnJyvSAE7zRV1MVwkcWM_oXPfYlsQbic6XPq-ycFqztqjmrgfg3Nfm-EZGUo5T7ulDVumftenEOb.jpg?quality=95&crop=0,0,1080,1080&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,1080x1080&ava=1&u=CVBhKAmMtKhhLZAcLIuRPAWEKDF7mUgd7yA0xRmnzHU&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Олимпиада НТИ
 &lt;/td&gt;
 &lt;td style="padding-left: 20px;"&gt;
 &lt;img src="https://sun36-2.userapi.com/s/v1/if1/MabvdRAmPxkUOfvbJq-QzigKXopgEZKGzuyAbR5JP19uuEQfL-K_lqfOlGd-HjPXEq1EbQPY.jpg?quality=96&crop=17,17,466,466&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360&ava=1&u=nr9GdLNJhKvl__9HC_lDiXCNHViWDd0JHD5KJpIhB8s&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Ломоносов хим.
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr id="r-3"&gt;
 &lt;td&gt;
 &lt;img src="https://sun6-20.userapi.com/s/v1/if1/1AOFz2sr3hEubGDvGefksOzaTphQWTqeLFi9bf2F83gu0qmpkgpdjDmxyKaujogNcsfa_L7B.jpg?quality=96&crop=161,176,747,747&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720&ava=1&u=7Lg9gI77y3znswvwbB2Fni-rMlSVkdgLW41aymY9pZ8&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Иннополис ИБ
 &lt;/td&gt;
 &lt;td style="padding-left: 20px;"&gt;
 &lt;img src="https://sun6-21.userapi.com/s/v1/ig2/Sb7zyEyWRB4q7B0VpS7SV1pAi1A5utjc8tWeWGTJ27Ct47LwiBediWRRRKZqKSW8jKTcOgg0g-6Fmnm-8lyTYWzp.jpg?quality=95&crop=53,53,536,536&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480&ava=1&u=XWxCGrRrJaALb-e-3PrdCqEkYVB5G9YFSTMBVJfDwrE&cs=200x200" style="border-radius: 20%; margin-bottom: -5px; width: 25px; margin-right: 5px"&gt;
 Олимпиада СПбГУ
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;/tbody&gt;
 &lt;/table&gt;
 &lt;/div&gt;
 &lt;/h6&gt;
 &lt;/div&gt;